header{
background-color: transparent;
color: bisque;
 }

 
.logo{
    left: 50px;
    color: aliceblue;
    font-family:inherit
       background-image:  url(logo.jpg); 
       width:50px;

              } 


body{
    height: 120px;
    background-image: url("descarga.jpg");
  background-size:cover 
    background-repeat  no-repeat;
    background-position-x: center;
 }    

    .principal{
       color: rgb(255, 230, 0);
       position: relative;
       left: 350px;   
       height: 170px;
       font-family:sans-serif;
       font-size: 35px;
    
}


.bienvenida{
color: rgb(255, 255, 255);
font-family: sans-serif;
top: 15px;
}

.encript{
    position: relative;
    font-family:sans-serif
     rgb(13, 245, 71);
    color: rgb(0, 0, 0);
    left: 20px;
  top: 15px;
    }


 .botonesencri{

position: relative;
    left: 100px;
    top: 25px;
    size: 10px;
    background-size: 30px;
    
    
 }
 .botonesdes{
     position: relative;
left: 15px;
top: 50px;
size: 100px;
background-size: 200px;

 }


.rest {
position: relative;
background-color: rgb(255, 0, 242); height: 250px;
left: 0px;
top: 50px;
right: 0px;
color: rgb(255, 24, 24);
font-family: Impact;
background-color:rgb(223, 173, 9) ;
}

.c{

   position: relative;
   font-family: fantasy;
   left: 30px;
 top: 26px;
    }


.creditos{

   color: burlywood;
   font-family: fantasy;
  padding-right: 100px;
    position: relative;
  left: 350px;   
  height: 170px;
 font-size: 35px;

}



    